@use 'sass:math';

@import 'variables';
@import 'mixins';

$box-color: $color-text-primary !default;
$box-background-color: $color-white !default;
$box-radius: $border-radius-huge !default;
$box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1) !default;
$box-padding: 1.25rem !default;

$spacing-spaceamounts: (0, 5, 6, 10, 15, 16, 20, 25, 30, 32, 35, 40, 45, 50, 64, 75, 100);
$spacing-sides: (
    "top": t,
    "bottom": b,
    "left": l,
    "right": r,
);

.box {
    background-color: $box-background-color;
    border-radius: $box-radius;
    @include box-shadow($box-shadow);
    color: $box-color;
    display: block;
    padding: $box-padding;
}

@each $space in $spacing-spaceamounts {
    @each $side, $side-name in $spacing-sides {
        $spacing: math.div($space, 16);
        
        .m#{$side-name}#{$space} {
            margin-#{$side}: #{$spacing}rem !important;
        }

        .p#{$side-name}#{$space} {
            padding-#{$side}: #{$spacing}rem !important;
        }
    }
}

.group-row {
    @include flexbox();
    @include align-items(center);
}

.widescreen {
    max-width: $container-max-width;
    margin: 0 auto;
}

.link {
    color: $color-primary;

    @include hover-link {
        cursor: pointer;
        text-decoration: underline;
    }
}

.title {
    font-weight: 700;
}

.first-case {
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.text-bold {
    font-weight: 600;
}

.text-muted {
    color: $color-gray;
}

.text-primary {
    color: $color-primary;
}

.text-small {
    font-size: $font-size-small;
}

.text-uppercase {
    font-weight: bold;
    text-transform: uppercase;
}

.text-large {
    font-size: $font-size-large;
}

.text-center {
    text-align: center;
}

.help {
    display: block;
    margin-top: .4rem;
    font-size: .75em;
    margin-bottom: 0;

    &.is-info {
        color: $color-info;
    }

    &.is-danger {
        color: $color-danger;
    }
}
